.overlay{
        width: 320px;
    padding-top: 22px;
    background-color: rgba(159, 159, 159, 0.67);
    padding-bottom: 22px;
    margin: 90px auto auto auto;
}

.block-content{
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3), 0 15px 12px 0 rgba(0, 0, 0, 0.22);
    h1{
    	color: #2c333d;
       font-size: 28px;
       font-weight: bold;
    }

      h3{
     line-height: 1.71;
     color: #000000;
     font-size: 17px;
     font-weight: normal;
     margin-bottom: 22px;
  }

   }

