.footer{
	padding-bottom: 53px;

	@media only screen and (max-width: 767px){
		margin-top: 20px;
		padding: 15px 0;
	}
}

.social_link{
	text-align: center;
    margin: 0 0 10px;
	ul{
		padding-left: 0;
		text-align: center;
		margin-bottom: 0;
	}

	li{
		 list-style: none;
	     list-style-type: none;
		 display: inline-block;
		 padding: 0 10px;

		 @media only screen and (max-width: 767px){
    padding: 5px;
}
	}

	a{
	width: 50px;
    display: block;
    border: solid 1px transparent;
    border-radius: 2px;
    background-color: #e9e9ea;
    transition: all 0.5s ease;
    border-radius: 2px;
    font-size: 23px;
    padding: 8px;
    color: #7c7b83;

    @media screen and (max-width: 767px) {
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding: 5px 1px;
}
  }
}

.facebook_soc{
	 &:hover{
    	 background-color: #3b5998;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.twitter_soc{
	 &:hover{
    	 background-color: #1da1f3;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.pinterest_soc{
	 &:hover{
    	 background-color: #bd081c;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.instagram_soc{
	 &:hover{
    	 background-color: black;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.fill_soc{
	 &:hover{
    	 background-color:  #de4b38;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.youtube_soc{
	&:hover{
    	 background-color:   #e52d27;
    	 color: #fff;
    	 border-radius: 2px;
    }
}

.footer_navigation__menu{
    text-align: center;
    margin: 0;
    padding: 0;
   
    li{
            padding: 12px 18px;
            display: inline-block;
            list-style-type: none;
        :hover{
                border-bottom: 2px solid black;
            }

            a{
                font-weight: 700;
                color: #3f3f3f;
                text-decoration: none;
                padding: 4px 0;
                font-size: 16px;
            }
            @media only screen and (max-width: 767px)
 {
    display: block;
}
    }
}


.footer_navigation__menuu{
    text-align: center;
    margin: 0;
    padding: 0;
   
    li{
            padding: 12px 18px;
            display: inline-block;
            list-style-type: none;
        :hover{
                border-bottom: 1.5px solid black;
            }

            a{
                font-weight: 100;
                color: #3f3f3f;
                text-decoration: none;
                padding: 4px 0;
                font-size: 16px;
            }
            @media only screen and (max-width: 767px)
{
    display: block;
}
    }
}

