.header {
	background: white;
	box-shadow: 0px 2px 5px #e9e9ea;
	position: fixed;
    top: 0;
    // left: 250px;
    left: 0;
    right: 0;
    z-index: 70;   
}

.header_top {
    @media only screen and (max-width: 1024px) {
        display: none;
    }
}

.header-fixed {
    .header_logo {
        width: 150px;
        display: inline-block;
        float: left;
        margin:0;
        margin-top: 10px;
        transition: 0.4s ease-out;
    }

    .header_top {
        display: none;
    }

    .header {
        background: rgba(255,255,255,0.952941);
    }

    .header_navigation {
        padding:10px 0 0;
    }
}


.header_top__navigation {
	float: right;
	padding: 0;
	list-style-type: none;
	margin-top: 15px;

}

.toogle_menu {
    display: none;
    @media only screen and (max-width: 1024px)
 {
    display: block;
    float: left;
    margin-top: 13px;
    a{
    font-size: 18px;
    color: black;
    }
}
}

.header_top__item {
	display: inline-block;
}

.header_top__link {
	display: inline-block;
	padding: 0 0 0 18px;
	color: #868585;
}

.container_header {
  position: relative;
}

.header_logo {
	text-align: center;
	margin: 8px 0 30px;
    transition: .5s all;
    width: 100%;

    @media only screen and (max-width: 1024px) {
        margin: 0;
        padding: 8px 0;
    }

	.logo_img {
		width: 180px;
        		@media only screen and (max-width: 1024px) {
            width: 110px;
        }
	}
}

.logo_link {
	display: inline-block;
}

.header_navigation  {
    font-size: 0;
    text-align: center;

    @media only screen and (max-width: 1024px) {
        display: none;
    }
}

.navigation_menu {
	padding: 0;
	list-style: none;
	display: inline-block;
	margin-bottom: 0;

	.navigation_item {
		float: left;
        padding: 12px 32px;
	}

	.navigation_link {
		  font-size: 17px;
          font-weight: bold;
          color: #292929;
          display: inline-block;
          padding: 4px 0;
          text-decoration: none;
          &:hover {
          border-bottom: 2px solid black;
        }
	}
}



.hero {
    max-width: 1920px;
    max-height: 563px;
    position: relative;
    height: 564px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__bottom-area {
        position: absolute;
        left: 0;
        bottom: 30px;
        right: 0;
    
        & + .block-table {
            padding-bottom: 40px;
        }
    }

    @media only screen and (max-width: 1024px) {
        margin-top: 0;
        height: 295px;
        padding-top: 46px;
    }
}

.hero_overlay {
	&:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
	}
}

.block-table {
	display: table;
	height: 100%;
	width: 100%;

	.block-row {
    display: table-row;
	}
	.block-cell {
     display: table-cell;
     vertical-align: middle;
    text-align: center;
	}
}




.hero_title {
    margin: 0 auto 35px;
    max-width: 877px;
    position: relative;
    color: #fff;

    h1 {
      font-size: 60px;
      font-weight: 600;
      @media only screen and (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 0px;
    }
  }

}


