<div class="article-page">
	<div class="article__image-block" style="background-image: url('../images/uploads/sudan-8231.jpg');" data-image-follow></div>
	<div class="article__text-block">
			<article class="article__text">
				<div class="article__text__item">
					<h2>Landrettigheter</h2>
					<div class=" text">
						<p>Land blir ofte ikke sett på som en vare, men tilgang til og rett på land har stor betydning for småbønders mulighet til å overleve, og for matproduksjon lokalt. Store landområder i Afrika, Asia og Latin-Amerika har det siste tiåret blitt tatt over av rike landeiere, statlige aktører og internasjonale selskaper.</p>
						<p>Småbønder blir skviset ut og landeierne blir stadig rikere. Eierskap, kontroll og tilgang til jord blir skjevfordelt, og kvinner er særlig dårlig representert.</p>
					</div>
				</div>
				<div class="content-image">
          <a href="../images/uploads/sudan-8231.jpg" data-fancybox data-fancybox-type="image">
            <img src="../images/uploads/sudan-8231.jpg" alt="img">
          </a>
				</div>

			</article>

		</div>
</div>