<div class="article-page ">
	<div class="article__image-block" style="background-image: url('../images/uploads/skatt.jpg');" data-image-follow></div>
	<div class="article__text-block">
			<article class="article__text">
				<div class="article__text__item">
					<h2>Innsjøen blir til luksusboliger</h2>
					<div class=" text">
						<p>Myndighetene har gitt et privat selskap konsesjon til å utvikle området rundt innsjøen Boeung Kak i Kambodsja. Det vil ta livsgrunnlaget fra 4000 mennesker. Fru Soy Kolab (54) er en av dem.</p>
						<p>Beoung Kak Lake er - eller snarere var, en 90 hektar stor innsjø i Phnom Penh. Den har nå blitt fylt igjen med sand for å kunne brukes til utbygging av luksusboliger, kontorer og fem-stjerners hoteller.</p>
					</div>
				</div>
				<div class="content-image">
          <a href="../images/uploads/Kambodsja_landrettigheter_demokrati_05.jpg" data-fancybox data-fancybox-type="image">
            <img src="../images/uploads/Kambodsja_landrettigheter_demokrati_05.jpg" alt="img">
          </a>
				</div>
				<div class="article__text__item">
					<div class=" text">
						<p>– Vi kom hit i 1990, forteller fru Kolab. Vi kjøpte huset og myndighetene anerkjente at vi bodde her. Vi fikk Id-kort og vi fikk stemme ved valget. Vi var lykkelige her. Det var lett å tjene penger på småforretninger. Jeg har tjent nok til å sende tre av mine seks barn på universitetet, forteller hun stolt.</p>
						<p>– Vi har ikke mottatt noen oppsigelse eller varsel om utkastelse. Men vi har sett på nyhetene at myndighetene har solgt sjøen og jorda rundt til et privat selskap for 90 år framover.</p>
						<p>Hun forteller at hun har sett et kart over området som myndighetene ønsker å sende dem til. Det er 22 km dit og det fines ingen fasiliteter som skole eller rent drikkevann der.</p>
						<p>Fru Kolab har besøk av en venninne og medaktivist, fru Be Pharom (58). De to kvinnene har flere ganger protestert mot selskapets aktiviteter og planene om å tvangsflytte dem.</p>
					</div>
					<div class="article-whide-block quote__wrapper">
						<span class="quote">Jo, noen ganger er vi redde for å demonstrere. Men vi får støtte fra organisasjoner som Human Rights Task Force. De beskytter oss og gir oss opplæring. Det gjør oss trygge nok til å fortsette kampen, sier Fru Soy Kolab</span>
					</div>
					<div class=" text">
						<p>– Vi har skrevet brev til statsministeren og protestert, men vi har ikke fått noe svar, forteller fru Pharom. Sammen med folk fra 19 provinser som mister hus og jord har de deltatt i store protestaksjoner.</p>
						<p>– Jo flere vi er, jo mektigere stemme har vi, sier hun. </p>
					</div>
					<div class="article-whide-block inline-block-parent">
						<div class="article-whide-block__img">
							<img src="../images/uploads/afrika.png" alt="afrika">
						</div>
						<div class="article-whide-block__text text">
							<p>50 % av arealene på landsbygda i Afrika er udokumentert. Dette gjør at jorda er sårbar for ulovlig jordovertakelse og ekspropriasjon.</p>
						</div>
					</div>
				</div>
				<div class="content-embed">
					<iframe src="" frameborder="0"></iframe>
				</div>

			</article>

		</div>
</div>