<div class="boxes container">
		<h2 class="head-title">Hva skaper ulikhet?</h2>
	<div class="row">
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/sudan-8231.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Landrettigheter</p>
						</span>
					</a>
	        </div>
    	</div>
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/skatt.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Skatt/investeringer</p>
						</span>
					</a>
	        </div>
    	</div>
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/arbeidsliv.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Arbeidsliv</p>
						</span>
					</a>
	        </div>
    	</div>
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/organisering.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Organisering</p>
						</span>
					</a>
	        </div>
    	</div>
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/demokrati.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Demokrati</p>
						</span>
					</a>
	        </div>
    	</div>
    	<div class="col s12 m4 padding-boxes">
	    	<div class="boxes__item">
				<div class="boxes__item__img" style="background-image: url('images/uploads/kvinner.jpg') "></div>
					<a href="#" class="boxes__item__link">
						<span class="boxes__item__text">
							<p>Kjønn</p>
						</span>
					</a>
	        </div>
    	</div>
    </div>
</div>