<div class="header-box">
	        <div class="header-box-wrap">
	            <div class="header-box-view">
	                <div class="container">
	                    <h1>ULIKHET</h1>
	                    <p>En liten elite eier stadig mer av verdens verdier, mens det store flertallet eier mindre, har mindre å si og er avhengig av et usikkert arbeidsliv. </p>
	                    <p>Gjør som over <b>3000</b> andre engasjerte mennesker</p>
	                    <a class="btn" href="#">Signér</a>
	                </div>
	            </div>
	        </div>
	    </div>