<!-- <header class="header">
    <div class="nav-wrapper clearfix">
        <div class="nav__left">
            <a href="#" class="logo"><img src="../images/logo.svg" alt="logo"></a>
        </div>
        <div class="nav__right">
            <ul class="nav__social">
                <li><a href="#"><i class="social-icon twitt"></i></a></li>
                <li><a href="#"><i class="social-icon fb"></i></a></li>
            </ul>
        </div>
    </div>
</header>
 -->


 <header class="header">
    <div class="header-image" style="background-image: url('images/uploads/indian-photo.jpg');">
    </div>

    <div class="header-top">
        <div class="header-logo">
            <a href="/">
                <img src="../images/logo.svg" alt="">
            </a>
        </div>

        <ul class="header-nav">
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Landrettigheter</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Arbeidsliv</a>
            </li>
        </ul>

        <div class="header-social">
            <a class="header-icon" href="#">
                <i class="social-icon twitt"></i>
            </a>
            <a class="header-icon" href="#">
                <i class="social-icon fb"></i>
            </a>
        </div>
        <div class="burger-menu">
            <div class="burger"></div>  
        </div>
    </div>
    
    <div class="header-box">
        <div class="header-box-wrap">
            <div class="header-box-view">
                <div class="container">
                    <h1>ULIKHET</h1>
                    <p>En liten elite eier stadig mer av verdens verdier, mens det store flertallet eier mindre, har mindre å si og er avhengig av et usikkert arbeidsliv. </p>
                    <p>Gjør som over <b>3000</b> andre engasjerte mennesker</p>
                    <a class="btn" href="#">Signér</a>
                </div>
            </div>
        </div>
    </div>
</header>
