
	    <div class="header-top dark">
	        <div class="header-logo">
	            <a href="/" class="logo-white">
	                <img src="../images/logo.svg" alt="logo">
	            </a>
	            <a href="/" class="logo-black">
					<img src="../images/hovedlogo.svg" alt="logo">
	            </a>
	        </div>

	        <div class="header-social dark">
	            <a class="header-icon" href="#">
	                <i class="social-icon twitt"></i>
	            </a>
	            <a class="header-icon" href="#">
	                <i class="social-icon fb"></i>
	            </a>
	            <a class="header-icon dark" href="#">
	                <i class="social-icon twitt-black"></i>
	            </a>
	            <a class="header-icon dark" href="#">
	                <i class="social-icon fb-black"></i>
	            </a>
	        </div>
	        <!-- <ul class="header-nav dark">
	            <li class="header-nav__item active">
	                <a class="header-nav__link" href="#">Landrettigheter</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Arbeidsliv</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Organisering</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Demokrati</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Kjønn</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Skatt/Investeringer</a>
	            </li>
	        </ul> -->

	        
	        <div class="burger-menu dark">
	            <div class="burger"></div>  
	        </div>
	        <ul class="header-nav__mobile">
	            <li class="header-nav__item active">
	                <a class="header-nav__link" href="#">Landrettigheter</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Arbeidsliv</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Organisering</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Demokrati</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Kjønn</a>
	            </li>
	            <li class="header-nav__item">
	                <a class="header-nav__link" href="#">Skatt/Investeringer</a>
	            </li>
	        </ul>
	        
	    </div>
	    