<header id="header" class="header">
  <div class="container container_header">
  <div class="toogle_menu">
       <a href="">
         <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
       </a>
     </div>
   <div class="header_top clearfix">
     <ul class="header_top__navigation">
       <li class="header_top__item">
         <a href="" class="header_top__link">
           <i class="fa fa-search" aria-hidden="true"></i>
         </a>
       </li>
       <li class="header_top__item">
         <a href="" class="header_top__link">
           <i class="fa fa-search" aria-hidden="true"></i>
         </a>
       </li>
       <li class="header_top__item">
         <a href="" class="header_top__link">
            <i class="fa fa-search" aria-hidden="true"></i>
         </a>
       </li>
     </ul>
   </div>
   <div class="header_logo">
       <a href="" class="logo_link">
         <img  class="logo_img" src="../../images/Home_varier_logo.png">
       </a>   
   </div>
   <nav class="header_navigation clearfix">
     <ul class="navigation_menu">
       <li class="navigation_item">
         <a href="" class="navigation_link">Our chairs</a>
       </li>
       <li class="navigation_item">
         <a href="" class="navigation_link">Our philosophy</a>
       </li>
       <li class="navigation_item">
         <a href="" class="navigation_link">Blog</a>
       </li>
       <li class="navigation_item">
         <a href="" class="navigation_link">About Varier</a>
       </li>
     </ul>
   </nav>
</header>