
	    <div class="header-top ">
	        <div class="header-logo">
	            <a href="/" class="logo-white">
	                <img src="../images/logo.svg" alt="logo">
	            </a>
	            <a href="/" class="logo-black">
					<img src="../images/hovedlogo.svg" alt="logo">
	            </a>
	        </div>
	        <div class="header-social">
	            <a class="header-icon" href="#">
	                <i class="social-icon twitt"></i>
	            </a>
	            <a class="header-icon" href="#">
	                <i class="social-icon fb"></i>
	            </a>
	            <a class="header-icon dark" href="#">
	                <i class="social-icon twitt-black"></i>
	            </a>
	            <a class="header-icon dark" href="#">
	                <i class="social-icon fb-black"></i>
	            </a>
	        </div>
	        <div class="burger-menu">
	            <div class="burger"></div>  
	        </div>
	    </div>
	    