<div class="left_column">
  <ul>
    <li>
      <a href="">Our chairs</a>
    </li>
    <li>
      <a href="">Our philosophy</a>
    </li>
    <li>
      <a href="">Blog</a>
    </li>
    <li>
      <a href="">About Varier</a>
    </li>
    <li class="upper_bound">
      <a href=""> Help and support</a>
    </li>
    <li>
      <a href="" > Find retailer</a>
    </li>
    <li>
      <a href="">  Find retailer </a>
    </li>
    <li class="upper_bound">
      <a href="">Blog</a>
    </li>
    <li>
      <a href="">Contact us</a>
    </li>
    <li>
      <a href="">Press</a>
    </li>
    <li>
      <a href="">Jobs</a>
    </li>
    <li>
      <a href="">Guarantee registration</a>
    </li>
    <li class="upper_bound separate">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <a href="" class="link">Account</a>
    </li>
     <li class="upper_bound separate">
      <i class="fa fa-user-o " aria-hidden="true"></i>
       <a href="" class="link">Language</a>
    </li>
    <li class="search">
      <form>
        <div class="field_around">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="search_button" type="" name="" placeholder="Search? ">
        </div>
      </form>
    </li>
  </ul>
</div>