<div class="signup-article container">
	<div class="row">
		<div class="col s12 pad8">
			<article>
				<h2 class="head-title">Takk for at du signerte oppropet!</h2>
				<div class="text text-left">
					<p>Norsk Folkehjelp tar med seg din stemme videre i arbeidet for å påvirke regjeringen til å gjøre mer for å redusere ulikhet. Vi sender deg jevnlige oppdateringer om kampen for en mer rettferdig verden. </p>
					<p>Vil du holde deg oppdatert på Norsk Folkehjelp sitt arbeid? Følg oss på facebook og twitter!</p>
				</div>
			</article>
			<article>
				<h5 class="head-title5">Hjelp oss å spre budskapet. </h5>
				<div class="text text-left">
					<p>Norsk Folkehjelp jobber med mobiliseringen for en rettferdig fordeling av makt og ressursene. Vi trenger din hjelp til å spre budskapet om ulikhet. Del siden med dine følgere og venner på facebook, twitter eller direkte til en venn via e-post og sms. Kopier linken eller velg mediakanalen du ønsker å dele budskapet under. </p>
				</div>
				<div class="social-links">
					<ul>
						<li><p>Del:</p></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
					</ul>
				</div>
				<a href="#" class="btn">Til forsiden</a>
			</article>
		</div>
	</div>
</div>