<div class="signup-article container">
	<div class="row">
		<div class="col s12 pad8">
			<article>
				<h2 class="head-title">Syns du Norge må gjøre mer for å redusere ulikhet?</h2>
				<div class="text text-left">
					<p>Vi vil ikke godta at noen blir stadig rikere og får mer makt, mens det store flertallet mister muligheten til å skape seg gode liv. Rettferdig fordeling kommer ikke av seg selv. Det finnes folk over hele verden som mobiliserer for mer rettferdig fordeling. De deltar i fagbevegelse, sosiale bevegelser og andre folkelige organisasjoner.</p>
				</div>
			</article>
			<article>
				<h5 class="head-title5">Bli med på mobiliseringen for en rettferdig fordeling av makt og ressurser!</h5>
				<div class="sign-form">
					<div class="row"> 
				        <div class="input-field col s12 m5">
				          <input placeholder="" id="first_name" type="text" class="validate">
				          <label for="first_name">First Name</label>
				        </div>
				        <div class="input-field col s12 m5">
				          <input id="last_name" type="text" class="validate">
				          <label for="last_name">Last Name</label>
				        </div>
				        <div class="col s2">
				        	<a href="#" class="btn">Signer</a>
				        </div>
			        </div>
				</div>
			</article>
			<article>
					<h5 class="head-title5">Når du signerer dette oppropet, gir du din støtte til våre krav om at Norge skal:</h5>
				<div class="text-list">
					<ol>
						<li>
							Prioritere reduksjon av ulikheter i utviklingspolitikken, og jobbe aktivt for å oppfylle FNs bærekraftsmål 10.
						</li>
						<li>
							Styrke organisasjoner som utfordrer konsentrasjonen av makt og ressurser, jobber for rettighetene til marginaliserte grupper og jobber for retten til faglig organisering og streik.
						</li>
						<li>
							Styrke organisasjoner som jobber for like rettigheter for kvinner og menn, styrke kvinners politiske deltakelse og lukke lønnsgapet mellom kvinner og menn.
						</li>
						<li>
							Lage en handlingsplan for å bekjempe skatteparadiser, og delta aktivt i det internasjonale arbeidet for å reformere det globale skattesystemet.
						</li>
						<li>
							Styrke skatt for utvikling-programmet ved å tilby støtte til utvikling av progressive skattesystemer.
						</li>
						<li>
							Fremme og støtte den internasjonale arbeiderorganisasjonen ILOs agenda for anstendig arbeid og implementeringen av ILOs konvensjoner.
						</li>
					</ol>
				</div>
			</article>
		</div>
	</div>
</div>