<div class="textbox">
	<article>
		<h2 class="head-title">Hva skaper ulikhet?</h2>
		<div class=" text text-center">
			<p>Norsk Folkehjelp ser på folkelig organisering som den viktigste måten å bekjempe de stadig økende ulikhetene i verden fordi organisering er en kilde til makt for folk som ikke har mye penger eller posisjon. Det å være mange som står sammen gir større muligheter til å påvirke det som skjer rundt oss.  Organisering gjør oss beredt til å møte problemer og endringer sammen, ikke bare en gang, men mange ganger over tid. Erfaring viser at det det er et økende behov for folkelige organisasjoner som kan forsvare interessene når folk blir marginalisert, undertrykt, ekskludert eller opplever urett. Norsk Folkehjelps arbeider over hele verden for å bidra til at folk settes i stand til å kjempe sine egne kamper mot urettferdighet og ulikhet.</p>
		</div>
		<a class="btn" href="#">Les mer</a>
	</article>
</div>